#navbarwrap {
margin-top: 15px;


}
#returncall {
    margin-right:400px;

}
.gridimages {
    margin-top: -10px;
    margin-left: 45px;
}



#gridwrap {
    background-color: #EAEAEA;
    padding-top: 5px;
    padding-bottom: 5px;


}
#gridwrapcontent{


}
#search {
    width:500px;
    height: 50px;
    margin-right: -20px;
}

#catalog {
    width: 250px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 17px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;




}
#lilagricola {
    width: 80px;
    height: 110px;
    margin-top: 25px;
    border: 1px lightgray solid;
}
#backarrow {
    border: 1px lightgray solid;
    padding-right: 30px;
    margin-top: -100px;

}
#bigagricola{
    position: static;
    width: auto;
    max-width: 400px;
    max-height: 50vw;
    height: auto;
    margin-left: 500px;
    margin-top: 115px;
    float: left;
}
#buttonagricola {
    position: absolute;
    left: 10px;
    margin-top: 70px;
}
#bread {
    margin: 30px;
}
.breadcontent{
    color: #3E3E3E;
}
#heart {
    margin-top: -14px;


}

#favbutton {
    height: 50px;
    width: 100px;
    background-color:white;

    border-radius: 15px;
    margin-left: 0;
}
#addcartbutton {
    width: 425px;
    height:50px;
    background-color:#53A17E;
    margin-left: 185px;
    border-radius: 15px;


}
body{
    font:15px ‘Mont’, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #3E3E3E;
}

#productname {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 195px;







}
#price {

    font-weight: 700;

    margin-top: 60px;
    font-size: 36px;
    border-radius: 15px;
    margin-left: 185px;
}
#nalich {
    font-size: 14px;
    font-weight: 600;
    color: #53A17E;
    margin-top: 80px;
    margin-left: -75px;
}
#benefits {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: -255px;


}
.gridimages2 {
    width: 120px;

}
#benefitsblock {
    margin-top: 50px;
    position: relative;
    left: 200px;
}
#benefitsborder{
    border-top: 1px lightgray solid;
    padding-top: 50px;
    margin-right: 155px;
}
#badgebonus {
    height: 20px;
    width: 100px;
    margin-left: 195px;

}
